body {
  margin: 0;
  background: transparent;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cinzel', serif;
  overflow: hidden;
}

.pseudo-colored {
  color: var(--pseudo-color);
  font-weight: bold;
}

.start-hidden {
  opacity: 0;
}

.fade-in {
  transition: opacity 0.6s ease;
  opacity: 1;
}

.fade-out {
  transition: opacity 0.6s ease;
  opacity: 0;
}

.parchment-wrapper {
  width: 90vw;
  max-width: 1000px;
  height: 800px;
  position: relative;

}

.parchment-container {
  width: 100%;
  height: 90%;
  border-radius: 12px;
  position: relative;
  filter: brightness(0.85) hue-rotate(-6deg) contrast(1.1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.parchment-container.animate-in {
  opacity: 1;
}


.parchment-clip {
  width: 100%;
  height: 100%;
  clip-path: inset(0% 100% 0% 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/vecteezy_old-parchment-paper-with-a-rough-surface_49346577.png');
  background-size: 110% 95%;
  background-repeat: no-repeat;
  background-position: center 50px;
  border-radius: 12px;
}

.parchment-clip.animate-in {
  animation: unroll 2.9s ease-in-out forwards;
  animation-delay: 0.3s;
}

.parchment-clip.animate-out {
  animation: unrollBack 3.3s ease-in-out forwards !important;
}

.content-box {
  width: 80%;
  height: 80%;
  /* ← ajuste selon ton design */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 6rem;
  position: relative;
  top: 20px;
  left: 10px;
}

.logo {
  height: 70%;
  width: 70%;

  background-image: url('assets/logo_echoppe_dame_evanah_gold.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: 3;
  opacity: 0.4;
  filter: brightness(0.7) hue-rotate(-10deg) contrast(1.1) saturate(0.8)
}

.message {
  text-align: center;
  color: #331e01;
  font-weight: bold;
  line-height: 1.4;
  word-break: break-word;
  white-space: pre-wrap;
  max-width: 120%;
  position: absolute;
  opacity: 1;
  z-index: 4;

}

span.user {
  color: #c6a855;
  font-weight: bold;
  
  text-shadow: 1px 2px 5px black, 1px 2px 5px black, 1px 2px 5px black, 1px 2px 5px black, 1px 2px 5px black, 1px 2px 5px black,1px 2px 5px black;

  
}

span.recipient,
span.value {
  color: #C6A855;
  font-weight: bold;

  text-shadow: 1px 2px 5px black, 1px 2px 5px black, 1px 2px 5px black, 1px 2px 5px black, 1px 2px 5px black, 1px 2px 5px black,1px 2px 5px black;
}

span.bits,
span.gifts,
span.viewers,
span.month,
span.amount {
  color: #C6A855;
  font-weight: bold;

  text-shadow: 1px 2px 5px black, 1px 2px 5px black, 1px 2px 5px black, 1px 2px 5px black, 1px 2px 5px black, 1px 2px 5px black,1px 2px 5px black;
}

.fake-right-edge {
  width: 100%;
  height: 98%;
  background-image: url('assets/borddroitpropre-removebg-preview.png');
  background-size: 6% 100%;
  bottom: 7px;
  left: 30px;
  background-repeat: no-repeat;
  background-position: center left;

  position: absolute;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 2;
  filter: brightness(1) blur(0px) hue-rotate(0deg);

}

.fake-right-edge.fade-out {
  opacity: 0 !important;
}

.fake-right-edge.animate-in {
  animation-name: moveRight;
  animation-duration: 2.9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.fake-right-edge::after {
  content: '';
  position: absolute;
  top: 1%;
  left: -2px;
  width: 65px;
  height: 98%;
  background: linear-gradient(to right,
      #e7bf82 0%,
      rgba(8, 4, 0, 0.952) 50%,
      rgba(255, 200, 100, 0.05) 100%);
  opacity: 0;
  animation: moveHighlight 1.8s ease-in-out forwards;
  animation-delay: 1.3s;
  pointer-events: none;
  z-index: 3;
  filter: blur(1px);
  clip-path: polygon(0% 10%,
      /* départ coin haut gauche */
      0% 0%,
      /* haut gauche à plat */
      100% 0%,
      /* haut droit à plat */
      100% 10%,
      /* début descente arrondi droit */

      100% 90%,
      /* fin descente côté droit */
      100% 100%,
      /* bas droit à plat */
      0% 100%,
      /* bas gauche à plat */
      0% 90%
      /* montée arrondie gauche */
    );

}


@keyframes moveHighlight {
  0% {

    opacity: 0;
    filter: blur(0px);
  }

  12% {

    opacity: 0.4;
    filter: blur(0.5px);
  }

  25% {

    opacity: 0;
    filter: blur(0px);
  }

  38% {

    opacity: 0.6;
    filter: blur(0.5px);
  }

  50% {

    opacity: 0;
    filter: blur(0px);
  }

  68% {

    opacity: 0.45;
    filter: blur(0.5px);
  }

  90% {

    opacity: 0;
    filter: blur(0.5px);
  }

  100% {

    opacity: 0;
    filter: blur(0px);
  }
}



.fake-right-edge::before {
  content: '';
  position: absolute;
  top: 1%;
  left: -2px;
  width: 65px;
  height: 98%;
  background: linear-gradient(to right,
      #e7bf82 0%,
      rgba(238, 205, 85, 0.445) 50%,
      rgba(8, 5, 0, 0.911) 100%);
  opacity: 0;
  animation: moveHighlight2 1.8s ease-in-out forwards;
  animation-delay: 1.3s;
  pointer-events: none;
  z-index: 3;
  filter: blur(0.8px);
  clip-path: polygon(0% 10%,
      /* départ coin haut gauche */
      0% 0%,
      /* haut gauche à plat */
      100% 0%,
      /* haut droit à plat */
      100% 10%,
      /* début descente arrondi droit */

      100% 90%,
      /* fin descente côté droit */
      100% 100%,
      /* bas droit à plat */
      0% 100%,
      /* bas gauche à plat */
      0% 90%
      /* montée arrondie gauche */
    );

}

.fake-right-edge.reversed {
  animation: moveRightBack 3.5s ease-in-out forwards !important;

}

.fake-right-edge.reversed::after {
  animation: moveHighlightBack 1.8s ease-in-out forwards !important;
  animation-delay: 0.3s !important;

}

.fake-right-edge.reversed::before {
  animation: moveHighlight2Back 1.8s ease-in-out forwards !important;
  animation-delay: 0.3s !important;

}


@keyframes moveHighlight2 {
  0% {

    opacity: 0.2;
    filter: blur(0.5px);
  }

  12% {

    opacity: 0;
    filter: blur(0px);
  }

  25% {

    opacity: 0.55;
    filter: blur(0.5px);
  }

  38% {

    opacity: 0;
    filter: blur(0px);
  }

  50% {

    opacity: 0.45;
    filter: blur(0.5px);
  }

  68% {

    opacity: 0;
    filter: blur(0px);
  }

  90% {

    opacity: 0.15;
    filter: blur(0.5px);
  }

  100% {

    opacity: 0;
    filter: blur(0px);
  }
}




@keyframes unroll {
  0% {
    clip-path: inset(0% 100% 0% 0%);
  }

  60% {
    clip-path: inset(0 0% 0 0);
  }

  100% {
    clip-path: inset(0% 20px 0% 0%);
  }
}

@keyframes unrollBack {
  0% {
    clip-path: inset(0% 20px 0% 0%);
  }

  60% {
    clip-path: inset(0% 100% 0% 0%);
  }

  100% {
    clip-path: inset(0% 100% 0% 0%);
  }
}


@keyframes unrollText {
  to {
    clip-path: inset(0% 0% 0% 0%);
  }
}


@keyframes moveRight {
  0% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(1020px);
  }

  100% {
    transform: translateX(1000px);
  }
}

@keyframes moveRightBack {
  0% {
    transform: translateX(1000px);
  }

  60% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes moveHighlightBack {
  0% {
    opacity: 0;
    filter: blur(0px);
  }

  12% {
    opacity: 0.6;
    filter: blur(0.5px);
  }

  25% {
    opacity: 0;
    filter: blur(0px);
  }

  38% {
    opacity: 0.6;
    filter: blur(0.5px);
  }

  50% {
    opacity: 0;
    filter: blur(0px);
  }

  68% {
    opacity: 0.6;
    filter: blur(0.5px);
  }

  90% {
    opacity: 0;
    filter: blur(0.5px);
  }

  100% {
    opacity: 0;
    filter: blur(0px);
  }
}

@keyframes moveHighlight2Back {
  0% {
    opacity: 0;
    filter: blur(0px);
  }

  12% {
    opacity: 0.6;
    filter: blur(0.5px);
  }

  25% {
    opacity: 0;
    filter: blur(0px);
  }

  38% {
    opacity: 0.6;
    filter: blur(0.5px);
  }

  50% {
    opacity: 0.5;
    filter: blur(0.5px);
  }

  68% {
    opacity: 0;
    filter: blur(0px);
  }

  90% {
    opacity: 0.6;
    filter: blur(0.5px);
  }

  100% {
    opacity: 0;
    filter: blur(0px);
  }
}


#statusContainer {
  position: fixed;
  /* Ou absolute si tu veux qu’il reste lié au parent */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: bold;
  z-index: 9999;
  pointer-events: none;
  /* Pour éviter qu’il gêne les clics */
  font-size: 6.2rem;
}


.statusConnected {
  animation-name: statusConnected;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: fixed;
  z-index: 9999;
}

.statusDisconnected {
  animation-name: statusDisconnected;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  position: fixed;
  z-index: 9999;
}

@keyframes statusConnected {
  0% {
    opacity: 1;
    background-color: #2FB774;
  }

  100% {
    opacity: 0;
    background-color: #2FB774;
  }
}

@keyframes statusDisconnected {
  0% {
    background-color: #D12025;
  }

  100% {
    background-color: #D12025;
  }
}